<p>Book was successfully created.</p>

<p>
    Title: <%= @book.title %>
</p>

<p>Body: <%= @book.body %></p>

<p>
    <%= link_to"Edit","/books/#{@book.id}/edit" %>
    |
    <%= link_to"Back","/books" %>
</p>